<div class="mb-3 d-flex justify-content-between align-items-center">
  <input type="text" class="form-control w-25" placeholder="Search" />
  <div>
    <button
      class="btn btn-primary me-2"
      data-bs-toggle="modal"
      data-bs-target="#addUserModal"
    >
      Add user +
    </button>
    <button class="btn btn-outline-secondary me-2">Sort by</button>
    <button class="btn btn-outline-secondary">Saved search</button>
  </div>
</div>

<table class="table table-bordered table-hover">
  <thead class="table-light">
    <tr>
      <th>Name</th>
      <th>Create Date</th>
      <th>Role</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>
        <div class="fw-bold">{{ user.firstName + " " + user.lastName }}</div>
        <small class="text-muted">{{ user.email }}</small>
      </td>
      <td>20/02/2025</td>
      <td>
        <span
          class="badge"
          [ngClass]="{
            'bg-info': user.role.roleName === 'CEO',
            'bg-primary': user.role.roleName === 'Developer',
            'bg-warning': user.role.roleName === 'HR',
          }"
        >
          {{ user.role.roleName }}
        </span>
      </td>
      <td>
        <button
          class="btn btn-sm btn-outline-danger me-2"
          (click)="onEditUser(user.id)"
        >
          ✏️
        </button>
        <button
          class="btn btn-sm btn-outline-secondary"
          (click)="onDeleteUser(user.id)"
        >
          🗑️
        </button>
      </td>
    </tr>
  </tbody>
</table>

<app-add-user-modal
  (userCreated)="fetchUsers()"
  (userUpdated)="fetchUsers()"
  [roles]="roles ?? []"
  [permissions]="permissions ?? []"
  [userToEdit]="selectedUserToEdit"
></app-add-user-modal>
