<div
  class="modal fade"
  id="addUserModal"
  tabindex="-1"
  aria-labelledby="addUserModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addUserModalLabel">Add User</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="resetForm(form)"
        ></button>
      </div>

      <div class="modal-body">
        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
          <!--firstname, lastname  -->
          <div class="row mb-3">
            <div class="col">
              <input
                type="text"
                class="form-control"
                placeholder="First Name *"
                [(ngModel)]="model.firstName"
                name="firstName"
                required
              />
            </div>
            <div class="col">
              <input
                type="text"
                class="form-control"
                placeholder="Last Name *"
                [(ngModel)]="model.lastName"
                name="lastName"
                required
              />
            </div>
          </div>
          <!--email, phone, role  -->
          <div class="row mb-3">
            <div class="col">
              <input
                type="email"
                class="form-control"
                placeholder="Email ID *"
                [(ngModel)]="model.email"
                name="email"
                required
              />
            </div>
            <div class="col">
              <input
                type="text"
                class="form-control"
                placeholder="Mobile No"
                [(ngModel)]="model.phone"
                name="phone"
              />
            </div>
            <div class="col">
              <select
                class="form-select"
                [(ngModel)]="model.roleId"
                name="roleId"
                required
              >
                <option value="" disabled>Select Role Type</option>
                <option *ngFor="let role of roles" [value]="role.roleId">
                  {{ role.roleName }}
                </option>
              </select>
            </div>
          </div>
          <!--username, password, confirmpassword  -->
          <div class="row mb-4">
            <div class="col">
              <input
                type="text"
                class="form-control"
                placeholder="Username *"
                [(ngModel)]="model.username"
                name="username"
                required
              />
            </div>
            <div class="col">
              <input
                type="password"
                class="form-control"
                placeholder="Password *"
                [(ngModel)]="model.password"
                name="password"
                required
              />
            </div>
            <div class="col">
              <input
                type="password"
                class="form-control"
                placeholder="Confirm Password *"
                [(ngModel)]="confirmPassword"
                name="confirmPassword"
                required
              />
            </div>
          </div>
          <!--permissions  -->
          <table class="table table-bordered">
            <thead class="table-light">
              <tr>
                <th>Module Permission</th>
                <th>Read</th>
                <th>Write</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let permission of permissions; let i = index">
                <td>{{ permission.permissionName }}</td>
                <td>
                  <input
                    type="checkbox"
                    [(ngModel)]="model.permissions[i].isReadable"
                    name="read-{{ i }}"
                  />
                </td>
                <td>
                  <input
                    type="checkbox"
                    [(ngModel)]="model.permissions[i].isWritable"
                    name="write-{{ i }}"
                  />
                </td>
                <td>
                  <input
                    type="checkbox"
                    [(ngModel)]="model.permissions[i].isDeletable"
                    name="delete-{{ i }}"
                  />
                </td>
              </tr>
            </tbody>
          </table>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="resetForm(form)"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="form.invalid"
              data-bs-dismiss="modal"
            >
              Add User
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
