<div
  class="modal fade"
  id="addUserModal"
  tabindex="-1"
  aria-labelledby="addUserModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addUserModalLabel">Add User</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
          <div class="row mb-3">
            <div class="col">
              <input
                type="text"
                class="form-control"
                placeholder="First Name *"
                [(ngModel)]="model.firstName"
                name="firstName"
              />
            </div>
            <div class="col">
              <input
                type="text"
                class="form-control"
                placeholder="Last Name *"
                [(ngModel)]="model.lastName"
                name="lastName"
              />
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <input
                type="email"
                class="form-control"
                placeholder="Email ID *"
                [(ngModel)]="model.email"
                name="email"
              />
            </div>
            <div class="col">
              <input
                type="text"
                class="form-control"
                placeholder="Mobile No"
                [(ngModel)]="model.phone"
                name="phone"
              />
            </div>
            <div class="col">
              <select class="form-select">
                <option selected>Select Role Type</option>
                <option>Admin</option>
                <option>Employee</option>
              </select>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col">
              <input
                type="text"
                class="form-control"
                placeholder="Username *"
                [(ngModel)]="model.username"
                name="username"
              />
            </div>
            <div class="col">
              <input
                type="password"
                class="form-control"
                placeholder="Password *"
                [(ngModel)]="model.password"
                name="password"
              />
            </div>
            <div class="col">
              <input
                type="password"
                class="form-control"
                placeholder="Confirm Password *"
                name="confirmPassword"
              />
            </div>
          </div>
          <table class="table table-bordered">
            <thead class="table-light">
              <tr>
                <th>Module Permission</th>
                <th>Read</th>
                <th>Write</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let role of roles">
                <td>{{ role.name }}</td>
                <td>
                  <input type="checkbox" [checked]="role.read" name="read" />
                </td>
                <td>
                  <input type="checkbox" [checked]="role.write" name="write" />
                </td>
                <td>
                  <input
                    type="checkbox"
                    [checked]="role.delete"
                    name="delete"
                  />
                </td>
              </tr>
            </tbody>
          </table>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
            <button type="submit" class="btn btn-primary">Add User</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
