<div
  class="bg-light p-3 border-end vh-100"
>
  <h4 class="fw-bold mb-4">YOURLOGO</h4>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" routerLink="dashboard">Dashboard</a>
    </li>
    <!-- <li class="nav-item"><a class="nav-link" href="#">Users</a></li> -->
    <li class="nav-item">
      <a class="nav-link" routerLink="documents">Documents</a>
    </li>
    <!-- <li class="nav-item"><a class="nav-link" href="#">Photos</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Hierarchy</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Message</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Help</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Setting</a></li> -->
  </ul>
</div>
